<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="oltest.bai12.myapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31">
        <activity
            android:name=".layoutadditemmenu"
            android:exported="false" />
        <activity
            android:name=".AddtableLayout"
            android:exported="false" />
        <activity
            android:name=".MainMenuItem"
            android:exported="false" />
        <activity
            android:name=".MainTableView"
            android:exported="false" />
        <activity
            android:name=".Menu.MainAddItem"
            android:exported="false" />
        <activity
            android:name=".Menu.MainMenu"
            android:exported="false" />
        <activity
            android:name=".Table.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>